.form_conta{
    margin:20px;
}

.form_conta label{
    font-size: 18px;
}

.form_conta ion-input{
    height: 40px;
    font-size: 14px;
    // background-image: url('../../assets/icon/favicon.png');
    // background-repeat: no-repeat;
    // background-size: 22px;
}

.form_conta button{
    width: 100%;
    height: 50px;
    background-color: green;
    color: #fff;
    font-size: 18px;
}

.delete{
    margin-top: 20px;
    background-color: red!important;
}